body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: rgb(169, 188, 192);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  background-color: white;
  width: 90%;
  height: 93vh;
  margin:0 auto;
  margin-top: 20px;
  border-radius: 1%;
  padding: 10px;
  text-align: center;

}
.ticket-num {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 10px;
}
.info {
  display: flex;
  gap:15px;
  margin-bottom: 20px;
  padding-left: 10px;
  
}
.stick {
  width: 40px;
  height: 40px;
  background-image: url('https://i.stack.imgur.com/w1Lh4.png');
  background-size: 40px 40px;
  transition: all 0.1s ease-in; 
}
.stick:hover {
  transform: scale(1.1);

}
.contaner-item {
  /* width: 376px; */
  width: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 60px;
  gap: -1px;
  margin-bottom: 20px;
  margin: 20px auto
 

}
.item {
      display: flex;
			justify-content: center;
			align-items: center; 
			position: relative; 
			background: #ffffff;
			border: 1px solid #DDDDDD;
			box-sizing: border-box;
			border-radius: 5px;
      padding: 20px;
      transition: all 0.3s ease-in-out;
}
.main-btn {
  background-color: white;
  border:1px solid #6d6d6d;
  border-radius: 3%;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.active {
  background-color: rgb(221, 255, 220);
  transform: scale(0.87);
  box-shadow:  0 0 0 1px rgb(143, 163, 140);
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  
  
  
}
.modalContent {
  background-color: rgb(254, 253, 255);
  padding:100px 40px;
  border-radius: 2%;
  min-width: 250px;
  font-size: 18px;
  box-shadow:  0 0 1px 1px rgb(153, 153, 153);
  
}
